.containerPlan{
    width: 25%;
    height: 68%;
    margin-top: 150px;
    box-shadow: 2px 2px 20px rgb(190, 190, 190);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.795);
    margin-right: 2%;
    margin-left: 2%;
}

.contentPlan{
    position: relative;
    width: 92%;
    height: 97%;
    box-shadow: 2px 2px 20px rgb(190, 190, 190);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.952);
    margin-right: 40px;
    margin-left: 40px;
}

.titlePlan{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    width: 200px;
    font-weight: 800;
    background-color: rgb(209, 169, 255);
    margin-top: -30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(165, 165, 165);
}

.titlePlan2{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    width: 200px;
    font-weight: 800;
    background-color: rgb(195, 143, 255);
    margin-top: -30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(165, 165, 165);
}

.titlePlan3{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    width: 200px;
    font-weight: 800;
    background-color: rgb(181, 120, 253);
    margin-top: -30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(165, 165, 165);
}

.containerOptionPlan{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 10%;
    padding: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.validImg{
    height: 45%;
    width: auto;
    margin-right: 50px;
    margin-left: 20px;
}

.textOptionPlan{
    font-family: 'Sen', sans-serif;
    font-size: 120%;
}

.buttonPricing{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 60px;
    width: 180px;
    background-color: rgb(209, 169, 255);
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    bottom: 50px;
    cursor: pointer;
    text-decoration: none;
}

.buttonPricing2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 60px;
    width: 180px;
    background-color: rgb(195, 143, 255);
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    bottom: 50px;
    cursor: pointer;
    text-decoration: none;
}

.buttonPricing3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 15px;
    height: 60px;
    width: 180px;
    background-color: rgb(181, 120, 253);
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    bottom: 50px;
    cursor: pointer;
    text-decoration: none;
}

.contentPlanStripe{
    position: relative;
    width: 92%;
    height: 82%;
    box-shadow: 2px 2px 20px rgb(190, 190, 190);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.952);
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 100px;
}

.FormGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px 20px;
    padding: 0;
    border-style: none;
    background-color: rgb(181, 120, 253);
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
    height: 50px;
    width: 90%;
}
  
  .FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
  }
  
  .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }

  .inputPricing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px 20px;
    padding: 0;
    border-style: none;
    background-color: rgb(181, 120, 253);
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
    height: 50px;
    width: 90%;
    color: white;
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 18px;
  } .inputPricing::placeholder{ 
        color: white;
        font-size: 18px;
        font-family: 'Sen', sans-serif;
    }

.StripeElement{
    margin-top: 3px;
}

.inputPricingCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 15px 20px;
    padding: 0;
    border-style: none;
    background-color: rgb(181, 120, 253);
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
    height: 50px;
    width: 85%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: white;
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 18px;
  }

.titleBuy{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Sen', sans-serif;
    margin: 0;
    margin-top: 15px;
    width: 100%;
}

.noEngagement{
    font-size: 15px;
    font-family: 'Sen', sans-serif;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonBuyPricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 50px;
    padding: 0;
    border-style: none;
    background-color: rgb(255, 255, 255);
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 10px;
    width: 80%;
    color: rgb(181, 120, 253);
    border: rgb(181, 120, 253) 2px solid;
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }

  .buttonBuyPricing:hover{
    background-color: rgb(181, 120, 253);
    color: white;
    border: none;
  }

@media screen and (max-width: 1280px){
    .containerPricing{
        flex-direction: column;
        height: 300vh !important;
    }
    .containerPlan{
        width: 90%;
        height: 500px;
        margin-bottom: 30px;
    }
    .backPricingImg{
        display: none;
    }
    .buttonPricing{
        height: 40px;
        bottom: 30px;
    }
    .buttonPricing2{
        height: 40px;
        bottom: 30px;
    }
    .buttonPricing3{
        height: 40px;
        bottom: 30px;
    }
    .contentPlanStripe{
        padding: 0;
        height: 97%;
    }
    .buttonBuyPricing{
        bottom: 25px;
    }
}