.menuDoc{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 95vh;
    padding: 5vh;
    background-color: rgb(255, 249, 249);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 5px rgb(158, 158, 158);
    overflow: auto;
}

.contentNameSectionMenu{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.titleSectionMenu{
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    white-space: nowrap;
    cursor: pointer;
}

.imgSectionMenuDoc{
    height: 30px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
}

.siteMenuDocOff{
    display: none;
}

.siteMenuDocOn{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    max-height: 180px;
    margin-bottom: 20px;
    animation: siteMenuOn 1s;
}

@keyframes siteMenuOn{
    from{
        max-height: 0;
    }
    to{
        max-height: 180px;
    }
}

.linkMenuDocOn{
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    border-bottom: 2px rgb(58, 58, 58) solid;
    margin-bottom: 10px;
    white-space: nowrap;
}

.linkMenuDocEditorOn{
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    border-bottom: 2px rgb(58, 58, 58) solid;
    white-space: nowrap;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkMenuDocEditor{
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    white-space: nowrap;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkMenuDoc{
    text-decoration: none;
    color: rgb(43, 43, 43);
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.linkMenuDoc:hover{
    color: rgb(24, 24, 24);
    border-bottom: 2px rgb(58, 58, 58) solid;
}