.containerRegistration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('../../chatbot_area/chatbotArea/image/backChatBot.png');
    background-position: top;
    background-size: cover;
    background-color: rgb(252, 252, 252);
}

.contentRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 350px;
    height: 600px;
    box-shadow: 3.5px 5px 20px rgb(189, 189, 189);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

.titleRegister{
    font-size: 35px;
    font-family: 'Sen', sans-serif;
    margin-bottom: 0;
}

.inputLog{
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgb(156, 156, 156) inset;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

.inputLogError{
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(255, 50, 50) inset;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

.validLog{

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    width: 200px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: rgb(227, 197, 255);
    border: rgb(227, 197, 255) 2px solid;
    box-shadow: 3px 3px 6px rgb(185, 185, 185),
    -5px -5px 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 60px;
    font-weight: 600;
    
}

.contentAlert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px 30px 15px 30px;
    height: 50px;
    background-color: rgb(255, 146, 146);
    margin-top: 25px;
    border-radius: 5px;
}

.textAlert{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
}

.validLog:hover{
    background-color: rgb(219, 180, 255);
    color: white;
    cursor: pointer;
}

.signForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkRegistration{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    width: 200px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: 3px 3px 6px rgb(185, 185, 185),
    -5px -5px 1px rgb(255, 255, 255);
    background-color: rgb(227, 197, 255);
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
}

.textLoadingRegister{
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 22px;
    font-family: 'Sen', sans-serif;

}

.loadingGif{
    height: 50px;
    width: auto;
}

@media screen and (max-width: 1280px){
    .contentRegister{
        width: 80%;
        height: 80%;
        padding: 0;
    }
}