.burgerIcon{
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    position: fixed;
    top: 40px;
    left: 15px;
    background-color: rgb(255, 180, 255);
}

.containerMenuBurgerOpen{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80%;
    padding: 10%;
    background-color: rgb(255, 249, 249);
    padding-top: 10px;
    overflow: hidden;
    z-index: 60;
    animation: openMenuBurger 1s;
} @keyframes openMenuBurger{
    from{
        width: 0;
    } to{
        width: 80%;
    }
}

.crossIconDoc{
    height: 40px;
    width: auto;
    margin-left: -20px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.openBurgerSiteDoc{
    position: absolute;
    top: 25px;
    right: 10%;
    width: 60%;
    height: 50px;
    box-shadow: 2px 2px 8px rgb(180, 180, 180);
    border: none;
    background-color: white;
    color: rgb(29, 29, 29);
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    animation: spawnButtonBurger 0.5s;
} @keyframes spawnButtonBurger{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}