.contentDataArea{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 70%;
    background-color: white;
    box-shadow: rgb(145, 145, 145) 0.5px 0.5px 8px;
    overflow: auto;
}

.headSearchData{
    width: 70%;
    height: 55px;
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(181, 120, 253);
    z-index: 5;
    box-shadow: rgb(145, 145, 145) 0.5px 0.5px 4px;
}

.choiceSearchData{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 150px;
    margin-left: 200px;
    background-image: url(./image/choice_icon.png);
    background-position: 90%;
    background-size: 8%;
    background-repeat: no-repeat;
    padding-right: 40px;
    padding-left: 30px;
    z-index: 2;
    border-bottom: rgb(240, 240, 240) 2px solid;
    &:hover .textChoiceData{
        color: rgb(255, 255, 255);
    }
    cursor: pointer;
}

.choiceSearchData:hover{
    background-image: url(./image/choice_icon_hover.png);
    border-bottom: rgb(255, 255, 255) 2px solid;
}

.listModelsData{
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    position: absolute;
    width: 190px;
    padding: 20px;
    background-color: rgb(181, 120, 253);
    max-height: 275px;
    overflow: auto;
    margin-left: -340px;
    margin-top: -15px;
    z-index: 2;
    top: 50;
    animation: openChoiceData 1s;
} @keyframes openChoiceData{
    from{
        max-height: 0;
    }
    to{
        max-height: 275px;
    }

}

.textChoiceDataGet{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    color: white;
    width: auto;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
} .textChoiceData:hover{
    color: whitesmoke;
}

.textChoiceData{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    color: white;
    margin: 5px;
    width: auto;
    cursor: pointer;
} .textChoiceData:hover{
    color: whitesmoke;
}

.listCategorysData{
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    position: absolute;
    width: 190px;
    padding: 20px;
    z-index: 2;
    background-color: rgb(181, 120, 253);
    max-height: 275px;
    overflow: auto;
    margin-left: 85px;
    margin-top: -10px;
    z-index: 2;
    animation: openChoiceData 1s;
}

.containerContact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.containerContactMargin{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin-top: 50px;
}

.containerContactGreen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(137, 255, 147);
}

.containerContactBlue{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(155, 137, 255);
}

.containerContactOrange{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(255, 176, 111);
}

.containerContactRed{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(255, 111, 111);
}

.containerContactMarginGreen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(137, 255, 147);
    margin-top: 50px;
}

.containerContactMarginBlue{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(155, 137, 255);
    margin-top: 50px;
}

.containerContactMarginOrange{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(255, 176, 111);
    margin-top: 50px;
}

.containerContactMarginRed{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(206, 206, 206);
    background-color: rgb(255, 111, 111);
}

.contentInfoContact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0;
    height: 35px;
    font-size: 16px;
    font-family: 'Sen', sans-serif;
}

.colorIcon{
    height: 20px;
    width: auto;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    cursor: pointer;
}

.colorIconHead{
    height: 20px;
    width: auto;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    cursor: pointer;
}

.colorIconGreenHead{
    background-color: rgb(137, 255, 147);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.colorIconBlueHead{
    background-color: rgb(105, 79, 255);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.colorIconOrangeHead{
    background-color: rgb(255, 176, 111);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.colorIconRedHead{
    background-color: rgb(255, 111, 111);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.colorIconGreen{
    background-color: rgb(137, 255, 147);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    box-shadow:  5px 5px 9px #47ad32, 
    -3px -3px 6px #d8ffd3;
}

.colorIconBlue{
    background-color: rgb(105, 79, 255);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    box-shadow:  5px 5px 9px #2b4ba3, 
    -3px -3px 6px #cfe4ff;
}

.colorIconOrange{
    background-color: rgb(255, 176, 111);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    box-shadow:  5px 5px 9px #a37d2b, 
    -3px -3px 6px #ffeacf;
}

.colorIconRed{
    background-color: rgb(255, 111, 111);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    box-shadow:  5px 5px 9px #a32b2b, 
    -3px -3px 6px #ffcfcf;
}

.colorGreen{
    background-color: rgb(137, 255, 147);
    border: 2px rgb(114, 114, 114) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.colorBlue{
    background-color: rgb(105, 79, 255);
    border: 2px rgb(114, 114, 114) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.colorOrange{
    background-color: rgb(255, 176, 111);
    border: 2px rgb(114, 114, 114) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.colorRed{
    background-color: rgb(255, 111, 111);
    border: 2px rgb(114, 114, 114) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.colorWhite{
    border: 2px rgb(114, 114, 114) solid;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.containerColors{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 45px;
}

.containerChoiceColor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgb(250, 250, 250);
    border: 2px rgb(53, 53, 53) solid;
    border-radius: 8px;
    padding: 5px;
    animation: containerChoiceColor 0.5s;
    overflow: hidden;
} @keyframes containerChoiceColor{
    from{
        height: 0;
    }
    to{
        height: 150px;
    }
}

.containerChoiceColorHead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgb(250, 250, 250);
    border: 2px rgb(53, 53, 53) solid;
    border-radius: 8px;
    padding: 5px;
    animation: containerChoiceColor 0.5s;
    overflow: hidden;
    margin-left: -16px;
}

.containerColorParams{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    width: 62%;
    background-image: url(./image/choice_icon.png);
    background-position: 110%;
    background-size: 8%;
    background-repeat: no-repeat;
}

.margin-top{
    margin-top: 50px;
}

.noResult{
    margin-top: 20%;
    font-size: 30px;
    font-family: 'Sen', sans-serif;
    color: rgb(39, 39, 39);
}

.arrowChoice{
    height: 15px;
    width: auto;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

@media screen and (max-width: 1280px){
    .contentDataArea{
        width: 90%;
    }
    .containerChoiceColor{
        position: absolute;
        top: 22px;
        right: 10px;
        z-index: 10;
    }
    .containerContact{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactMargin{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactRed{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactBlue{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactOrange{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactGreen{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactMarginRed{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactMarginBlue{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactMarginOrange{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .containerContactMarginGreen{
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        height: auto;
    }
    .contentInfoContact{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .colorIcon{
        position: absolute;
        top: 22px;
        right: 15px;
    }
    .colorIconRed{
        position: absolute;
        top: 22px;
        right: 15px;
    }
    .colorIconBlue{
        position: absolute;
        top: 22px;
        right: 15px;
    }
    .colorIconOrange{
        position: absolute;
        top: 22px;
        right: 15px;
    }
    .colorIconGreen{
        position: absolute;
        top: 22px;
        right: 15px;
    }
    .headSearchData{
        width: 90%;
    }
    .listModelsData{
        max-height: 100%;
        height: 70%;
        width: 79%;
        margin: 0;
        box-shadow: #919191 0.5px 0.5px 8px;
    }
    .listCategorysData{
        max-height: 100%;
        height: 70%;
        width: 79%; 
        box-shadow: #919191 0.5px 0.5px 8px;
        margin: 0;
    }
    .choiceSearchData{
        width: 60px;
        justify-content: flex-start;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px;
        width: 90px;
        background-size: 12%;
    }
    .containerColorParams{
        width: 85%;
    }
    .textChoiceDataGet{
        width: 90%;
    }
    .arrowChoice{
        width: 13px;
        height: auto;
    }
}