.reactLogo{
    height: 200px;
    width: auto;
}

.codeText{
    padding: 10px;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Sen', sans-serif;
    border-radius: 10px;
}
.integrationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

.textOnCode{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Sen', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.blockCode{
    border-radius: 10px;
}

.connexionDoc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    background-color: none;
    color: linear-gradient(90deg, rgba(113,0,208,1) 0%, rgba(160,0,255,1) 81%);
    border: 2px solid  rgba(113,0,208,1);
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    text-align: center;
    background-color: white;
    margin-left: 30px;
}

.connexionDoc:hover{
    background-color: rgb(255, 169, 255);
    color: white;
}

.takeModelId{
    height: 300px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.containerStepModelid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.blockCode1{
    width: 50%;
    border-radius: 10px;
}

@media screen and (max-width: 1200px){
    .integrationContainer{
        max-width: 90%;
        flex-wrap: wrap;
    }
    .blockCode1{
        width: 90%;
        border-radius: 10px;
    }
}