

.menuChatbot{
    position: fixed;
    bottom: 30px;
    right: 50px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(113,0,208,1) 0%, rgba(160,0,255,1) 81%);
    font-size: 25px;
    color: white;
    font-family: 'Sen', sans-serif;
    border: white 3px solid;
    height: 50px;
    width: 230px;
    cursor: pointer;
}

.menuChatbot:hover{
    background: white;
    border: rgba(113,0,208,1) 3px solid;
    color: rgba(113,0,208,1);
}

@media screen and (max-width: 1200px){
    .menuChatbot{
        width: 50%;
        right: 25%;
    }
}