.containerStayConnect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}

.checkBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.cochCheck{
    width: 100%;
    height: auto;
}

.textStayConnect{
    font-size: 18px;
    font-family: 'Sen', sans-serif;
}

.subForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleChangeLog{
    max-width: 85%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
    font-family: 'Sen', sans-serif;
}

.validChangeLog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    height: 70px;
    width: 200px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 6px rgb(175, 175, 175);
    background-color: rgb(210, 166, 255);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    position: absolute;
    bottom: 80px;
}