.containerPricing{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

.backPricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
}

.backPricingImg{
    z-index: -2;
    height: 100%;
    width: 33.3333%;
}