
.containerLanding{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url('./image/backLanding.png');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 522vh;
}

.containerHeadLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.contentHeadLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 200px;
    overflow: none;
}

.imgHeadLanding{
    height: 500px;
    width: auto;
}

.windowTextHead{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 450px;
    box-shadow: 2px 2px 4px rgb(182, 182, 182), -1px -1px 4px rgb(231, 231, 231);
    margin-left: 250px;
    margin-right: 250px;
}

.contentTitleLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5%;
    background-color: rgb(216, 181, 254);
}

.contentTextLanding{
    background-color: rgb(250, 250, 250);
    width: 90%;
    padding: 5%;
}

.titleLanding{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0;
    color: rgb(56, 56, 56);
}
.textLanding{
    font-size: 18px;
    font-family: 'Sen', sans-serif;
    color: rgb(117, 117, 117);

}

.graphicImg{
    height: 150px;
    width: auto
}
.contentTitleFirstStep{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin-right: 10%;
    margin-bottom : 50px;
}
.firstStepLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    flex-direction: column;
}
.stepIcon{
    height: 150px;
    width: auto;
    margin-right: 5%;
}
.editorGif{
    height: 300px;
    width: auto;
    border-radius: 15px;
}
.containerTextHead{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.textStepLanding{
    font-size: 35px;
    color: rgb(51, 51, 51);
}
.containerButtonLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.goButtonLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 35px;
    text-align: center;
    height: 80px;
    width: 250px;
    border-radius: 10px;
    color: rgb(34, 34, 34);
    background: linear-gradient(90deg, #ffd2df 6%, #fcafff 60%);
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    box-shadow: -2px -2px 2px 0px #ffffff, 2px 2px 5px 0px #6d6d6d;
    cursor: pointer;
    border: none;
    margin-top: 90px;
}

.iconChatLanding{
    width: 90px;
    height: auto;
    background-color: #b36fff;
    border-radius: 50%;
}

.contentChatbotLanding{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    width: 1000px;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 2px 2px 4px rgb(168, 168, 168), -1px -1px 3px rgb(197, 197, 197);
    padding: 2%;
    padding-right: 0;
}

.contentTextChatLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.contentTextChatLanding .titleChatLanding{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 1px;
    margin-top: 35px;
}

.contentTitleChatLandingMobile{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
}

.containerTextLanding{
    position: relative;
    width: 90%;
    margin-left: 4%;
    margin-bottom: 120px;
    margin-top: 170px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100px;
}

.containerTextLanding1{
    position: relative;
    width: 90%;
    margin-left: 4%;
    margin-bottom: 200px;
    margin-top: 100px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.textChatLanding{
    width: 100%;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    position: absolute;
    padding: 3%;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    background-color: #b36fff;
    animation: textChatLanding 1s;
} @keyframes textChatLanding{
    from{
        margin-left: 700px;
    }
    to{
        margin-left: 0;
    }
}

.editorImg{
    height: 400px;
    width: auto;
    border-radius: 15px;
}

.containerLogoLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logoInstallLanding{
    height: 200px;
    width: auto;
    margin-top: 30px;
}

.areaImgLanding{
    height: 900px;
    width: auto;
    border-radius: 4px;
}

.displayNone{
    display: none;
}

.containerTitleLanding{
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

.containerTitleLanding1{
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 20px;
    margin-top: 200px;
}

.imgTitleLanding{
    height: 150px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.formChatImg{
    width: 40%;
    height: auto;
    box-shadow: 2px 2px 6px rgb(148, 148, 148);
    border-radius: 15px;
    margin-right: 5%;
}

.areaMessageImgLanding{
    width: 40%;
    height: auto;
    border-radius: 15px;
    margin-left: 5%;
}

.containerMessageImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 1280px){
    .containerLanding{
        background-repeat: no-repeat;
        background-size: 300%;
    }
    .containerHeadLanding{
        flex-direction: column;
    }
    .contentHeadLanding{
        flex-direction: column;
        margin-top: 100px;
    }
    .contentChatbotLanding{
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 390px;
        margin-top: 0px;
    }
    .containerTextHead{
        width: 100%;
    }
    .iconChatLanding{
        width: 70px;
        height: auto;
        margin-left: 35px;
    }
    .contentTextChatLanding{
        margin-left: 10px;
        margin-top: 50px;
    }
    .titleChatLanding{
        justify-content: center;
        font-size: 22px;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 90px;
        width: 65%;
        margin-bottom: 5px;
    }
    .containerHeadLanding{
        margin-top: 0;
    }
    .imgHeadLanding{
        width: 80%;
        height: auto;
    }
    .windowTextHead{
        width: 85%;
    }
    .goButtonLanding{
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .containerTextLanding{
        width: 90%;
        font-size: 20px;
        margin-bottom: 50px;
        margin-top: 150px;
        margin-left: 20%;
    }
    .containerTextLanding1{
        width: 90%;
        font-size: 20px;
        margin-bottom: 150px;
        margin-left: 20%;
    }
    .textChatLanding{
        width: 90%;
        font-size: 20px;
    }
    .editorImg{
        width: 80%;
        height: auto;
    }
    .containerLogoLanding{
        display: flex;
        justify-content: start;
        align-items: flex-end;
        width: 90%;
        margin-top: 0px;
    }
    .logoInstallLanding{
        width: 35%;
        margin-left: 10%;
        margin-top: 0;
        height: auto;
    }
    .areaImgLanding{
        width: 90%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .contentTextChatLanding{
        align-items: center;
        margin-top: 0;
    }
    .imgTitleLanding{
        width: 20%;
        height: auto;
    }
    .titleLandingTop{
        font-size: 20px;
    }
    .containerTitleLanding1{
        width: 80%;
        margin-top: 100px;
    }
    .containerTitleLanding{
        width: 80%;
    }
    .containerTitleLanding1{
        width: 80%;
    }
    .containerMessageImg{
        margin-top: 20px;
    }
}