

.contentAddCategoryActive{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes rotater {
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0px);
    }
}

.contentShine{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
}

.shine{
    position: absolute;
    top: 0;
    left: -210px;
    height: 250px;
    width: 50px;
    background: rgba(255, 255, 255, 0.4);
    transition: all .3s linear;
    transform: skewX(30deg) translateX(0);
}

.addButtonCategory{
    width: 50px;
    height: auto;
    margin-top: 5px;
}

.contentAddCategory{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px;
    z-index: 2;
    width: 80%;
    height: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(252, 236, 236);
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #bebebe;
    &:hover .shine {
        display: inline;
        position: absolute;
        transform: skewX(20deg) translateX(500px);
      }
    cursor: pointer;
    margin-top: 0px;
}

.textCategory{
    font-size: 22px;
    font-family: 'Sen', sans-serif;
    text-align: center;
}

.inputAddCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 5px;
    width: 85%;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0.2px 0.2px 2px 0px rgb(156, 156, 156) inset, -2px -3px 2px 0px white inset;
    text-align: center;
    overflow: hidden;
}

.buttonAddCategory{
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    box-shadow:  0.5px 0.5px 2px 0px #ffffff, 
    0.5px 0.5px 2px 0px #adadad;
    font-size: 19px;
    font-family: 'Sen', sans-serif;
    text-align: center;
    cursor: pointer;
}

.contentSetTimeout{
    display: none;
}

.contentUnderAddCategory{
    display: flex;
    justify-content: center;
    align-items: center;
}