.containerCardList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border-radius: 3px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
    margin-top: 40px;
    border-radius: 10px;
}

.containerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #fcf4f5;
    width: 100%;
    border-radius: 10px;
}

.joinIcon{
    width: 30px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
}

.joinIconActive{
    width: 30px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    box-shadow:  inset -4px -3px 3px 0px #ffffff, 
    inset 2px 2px 5px 0px #adadad;
}

.updateIcon{
    width: 30px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
}

.deleteIcon{
    width: 30px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
}

.contentCardList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
    border-radius: 10px;
}

.containerCardList .contentCardList .textTitleCard{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    min-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(43, 43, 43);
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.contentQuestionInputCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    background-color: rgb(255, 247, 247);
    border: none;
    box-shadow: 2px 2px 2px 0px rgb(156, 156, 156) inset, -2px -3px 2px 0px white inset;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Sen', sans-serif;
    overflow: hidden
}

.validUpdateCard{
    width: 90px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  -4px -3px 3px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
    background-color: rgb(255, 232, 232);
    border: none;
    color: rgb(85, 85, 85);
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    font-weight: 700;
}