.containerCardListCategory{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: 80%;
    min-height: 160px;
    border-radius: 3px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('./image/backCard.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.joinIconDest{
    width: 30px;
    height: auto;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    box-shadow:  -3px -2px 2px 0px #ffffff, 
    2px 2px 5px 0px #2b586d;
    margin-top: 20px;
}

.joinIconDestActive{
    width: 30px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    box-shadow:  inset -4px -3px 3px 0px #ffffff, 
    inset 2px 2px 5px 0px #adadad;
}

.nameCardCategory{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    margin-top: 5px;
    width: 80%;
    margin-right: 10%;
    text-align: left;
}