.contentDocSortouch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgb(254, 249, 249);
    width: 80%;
    padding: 50px;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 2px 2px 6px rgb(179, 179, 179);
}

.numberStepDoc{
    font-size: 100px;
    
    color:  rgba(160,0,255,1);
    font-family: 'Sen', sans-serif;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titleStepDoc{
    width: 90%;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(36, 36, 36);
    font-weight: 500;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

.onContentDocFirst{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.onContentDoc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}

.orDocSortouch{
    font-size: 30px;
    font-family: 'Sen', sans-serif;
    margin-left: 50px;
    text-align: center;
}

.textDocSortouch{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    text-align: center;
}

.textDocSortouchLast{
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    text-align: center;
}

.imgDocSortouch{
    height: 200px;
    width: auto;
    box-shadow: 2px 1px 11px rgb(192, 192, 192);
    margin: 25px;
}

.imgDocSortouchDonnee{
    width: 90%;
    height: auto;
    box-shadow: 2px 1px 11px rgb(192, 192, 192);
    margin: 25px;
    margin-left: 10%;
}

.imgDocSortouchCategory1{
    width: 50%;
    height: auto;
    box-shadow: 2px 1px 11px rgb(192, 192, 192);
    margin: 25px;
    border-radius: 8px;
}

.imgDocSortouchCategory{
    width: 95%;
    height: auto;
    box-shadow: 2px 1px 11px rgb(192, 192, 192);
    margin: 25px;
    border-radius: 8px;
}

.containerImgDoc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inscriptionDocSortouch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    background: linear-gradient(90deg, rgba(113,0,208,1) 0%, rgba(160,0,255,1) 81%);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
    padding: 6px 31px 6px 31px;
    margin-left: 50px;
    text-align: center;
}
.connexionDocSortouch{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    background-color: none;
    color: linear-gradient(90deg, rgba(113,0,208,1) 0%, rgba(160,0,255,1) 81%);
    border: 2px solid  rgba(113,0,208,1);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .onContentDocFirst{
        flex-direction: column;
    }
    .onContentDoc{
        margin-top: 30px;
    }
    .orDocSortouch{
        margin-left: 0;
    }
    .contentDocSortouch{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        padding: 5%;
        min-height: 70px;
        margin-top: 110px;
        margin-bottom: 10px;
    }
    .burgerIcon{
        z-index: 10;
    }
    .titleStepDoc{
        text-align: start;
        font-size: 25px;
        margin: 0;
        width: 90%;
    }
    .inscriptionDocSortouch{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 120px;
        color: white;
        border-radius: 10px;
        font-size: 25px;
        font-family: 'Sen', sans-serif;
        text-decoration: none;
        padding: 5px 30px 5px 30px;
        margin-left: 0px;
    }
    .connexionDocSortouch{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 169, 255);
        border: 2px solid rgb(255, 169, 255);
        border-radius: 10px;
        font-size: 20px;
        font-family: 'Sen', sans-serif;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        width: 150px;
        height: 50px;
        margin-left: 0px;
        margin-top: 90px;
    }
    .containerImgDoc{
        flex-direction: column;
    }
    .imgDocSortouchCategory{
        height: 400px;
        width: auto;
    }
    .imgDocSortouchCategory{
        width: 250px;
        height: auto;
    }
    .imgDocSortouchDonnee{
        width: 250px;
        height: auto;
    }
    .textDocSortouchLast{
        margin-top: 30px;
        text-align: start;
    }
    .textDocSortouch{
        text-align: start;
    }
}