.contentDoc{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-left: 400px;
    margin-top: 120px;
    padding: 5%;
}

.titleDoc{
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: start;
}

.containerSectionDoc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    border-radius: 15px;
    background-color: rgb(255, 245, 245);
    margin-top: 100px;
}

.contentSectionDoc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.contentSectionDocColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.titleContainerSectionDoc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgb(36, 36, 36);
    font-weight: 500;
    text-align: center;
    width: 80%;

}

.textContainerSectionDoc{
    width: 350px;
    padding: 20px;
    text-align: start;
    font-family: 'Sen', sans-serif;
    color: rgb(37, 37, 37);
    font-size: 17px;
}

.textContainerSectionColumnDoc{
    width: 70%;
    padding: 10px;
    text-align: center;
    font-family: 'Sen', sans-serif;
    color: rgb(37, 37, 37);
    font-size: 17px;
}

.textContainerSectionJoinDoc{
    padding: 0px;
    margin-right: -80px;
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: start;
    font-family: 'Sen', sans-serif;
    color: rgb(37, 37, 37);
    font-size: 17px;
}

.imgCategoryDoc{
    width: 350px;
    border-radius: 30px;
    padding: 15px;
}

.imgQuestionDoc{
    width: 250px;
    border-radius: 30px;
    padding: 20px;
}

.imgAddContainerDoc{
    width: 80%;
    padding: 20px;
}

.imgJoinDoc{
    height: 220px;
    padding: 20px;
}

.joinIconText{
    height: 25px;
}

@media screen and (max-width: 1280px){
    .titleDoc{
        margin-top: 150px;
        text-align: center;
        font-size: 30px;
        max-width: 85%;
        margin-bottom: 0;
    }
    .contentDoc{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contentSectionDoc{
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }
    .textContainerSectionDoc{
        width: 80%;
        text-align: center;
    }
    .containerDoc{
        width: 100%;
    }
    .containerSectionDoc{
        width: 85%;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .textContainerSectionJoinDoc{
        margin: 0;
        max-width: 80%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .imgJoinDoc{
        width: 80%;
        height: auto;
    }
    .imgCategoryDoc{
        width: 85%;
        height: auto;
    }
}