.containerDiagram{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    margin-right: 35%;
}

.containerButtonBuilder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
}

.contentButtonAddBuild{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.contentButtonBuild{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.textAddContainerBuild{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    margin-top: 0;
}

.plusIconQuestion{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.plusIconQuestion:active{
    box-shadow:  inset -4px -3px 3px 0px #ffffff, 
    inset 2px 2px 5px 0px #adadad;
    outline-style: none;
}

.plusIconResponse{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.plusIconResponse:active{
    box-shadow:  inset -4px -3px 3px 0px #ffffff, 
    inset 2px 2px 5px 0px #adadad;
    outline-style: none;
}

.plusIconDestination{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.plusIconDestination:active{
    box-shadow:  inset -4px -3px 3px 0px #ffffff, 
    inset 2px 2px 5px 0px #adadad;
    outline-style: none;
}

.contentBuildQuestion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
}

.contentBuildQuestionFirst{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
}

.contentBuildResponse{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(252, 252, 252);
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
}

.contentBuildDestination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(252, 252, 252);
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 1px 13px 0px #e4d7d8;
}

.containerArrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.contentIconCardBuild{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 10%;
}

.arrowCardBuild{
    width: 20px;
    height: auto;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: -3px -2px 2px 0px #cecece, 3px 3px 7px 0px #727272;
    cursor: pointer;
}

.imgConnect{
    filter: blur(0.2px);
    width: 45px;
    padding: 5px;
    height: auto;
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0px rgb(46, 46, 46) inset, -2px -2px 1px 0px rgb(192, 192, 192) inset;
    margin-left: 45px;
    margin-right: 15px;
}

.imgConnectActive{
    width: 45px;
    padding: 5px;
    height: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    box-shadow: -3px -3px 2px 0px #ffffff, 3px 3px 5px 0px #adadad;
    cursor: pointer;
    animation: connectButton 0.5s;
    margin-left: 45px;
    margin-right: 15px;
    &:active .contentCardList{
        animation: activeConnect 1s;
    }
}

@keyframes activeConnect{
    form{
        margin-right: 0;
    }
    to{
        margin-right: 300px;
    }
}

.containerCardQuest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-left: 5%;
}

.textCardBuildQuest{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    text-align: center;
}

.mailIcon{
    width: 80px;
    height: auto;
    margin-left: 50px;
    margin-right: 35px;
}

.containerCardCategoryBuild{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 242, 245);
    box-shadow: inset -6px -5px 2px 0px #ffffff, inset 2px 2px 6px 0px #b3b3b3;
    margin: 15px;
    padding: 20px 30px 20px 30px;
    border-radius: 25px;
    cursor: pointer;
}

.textCardCategoryBuild{
    font-size: 20px;
    font-family: 'Sen', sans-serif;
    text-align: center;
    margin-right: 35px;
}

.textCardInBuild{
    font-family: 'Sen', sans-serif;
}

.containerAddBuild{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow:  -4px -3px 1px 0px #ffffff, 
    2px 2px 5px 0px #adadad;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 10px;
    cursor: pointer;
}

.textAddBuild{
    margin: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Sen', sans-serif;
}

.crossIconContainer{
    margin-right: 5%;
    border-radius: 50%;;
    height: 20px;
    width: auto;
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(48, 48, 48);
    cursor: pointer;
}

.contentEmptyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
}
.typeContainer{
    font-size: 20px;
    color: rgb(155, 155, 155);
    font-family: 'Sen', sans-serif;
    width: 70%;
    margin-left: 20%;
}

@keyframes connectButton{
    0%{
        box-shadow: 1px 1px 4px 0px rgb(46, 46, 46) inset, -2px -2px 1px 0px rgb(192, 192, 192) inset;
    }
    25%{
        box-shadow: 0px 0px 3.5px 0px rgb(102, 102, 102) inset, -1px -1px 2px 0px rgb(184, 184, 184) inset;
    }
    50%{
        box-shadow: -1px -1px 3px 0px rgb(133, 133, 133) inset, -0px -0px 3px 0px rgb(175, 175, 175) inset;
    }
    75%{
        box-shadow: -2px -2px 2.5px 0px rgb(163, 163, 163) inset, 1px 1px 4px 0px rgb(163, 163, 163) inset;
    }
    100% {
        box-shadow: -3px -3px 2px 0px #ffffff, 3px 3px 5px 0px #adadad;
    }
}