.contentBuildCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
}

.containerCardInBuild{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    box-shadow: -3px -2px 2px 0px #ffffff, 2px 2px 5px 0px #adadad;
    margin: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.containerCardInBuildSimple{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    box-shadow: -2px -1px 1px 0px #ffffff, 1px 1px 3px 0px #adadad;
    margin: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.containerCardInBuildActive{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 145, 145);
    box-shadow: -3px -2px 2px 0px #ffffff, 2px 2px 5px 0px #adadad;
    margin: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.containerCardInBuild:hover{
    background-color: rgb(145, 145, 145);
    color: white;
}

.containerCardInBuild:active{
    box-shadow: inset -3px -2px 2px 0px #dadada, inset 2px 2px 2px 0px #ffffff;
}

.iconDeleteCardBuild{
    height: 20px;
    width: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    margin-right: 20px;
    padding: 6px;
    box-shadow: -2px -2px 2px 0px #ffffff, 2px 2px 3px 0px #adadad;
    cursor: pointer;
}

.iconDeleteCardBuildQuest{
    height: 20px;
    width: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    margin-right: 50px;
    padding: 6px;
    box-shadow: -2px -2px 2px 0px #ffffff, 2px 2px 3px 0px #adadad;
    cursor: pointer;
}

.iconDeleteCardBuild:active{
    box-shadow: inset -3px -2px 2px 0px #dadada, inset 2px 2px 2px 0px #ffffff;

}