.containerRegistration{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('../../chatbot_area/chatbotArea/image/backChatBot.png');
    background-position: top;
    background-size: cover;
}

.titleRegister{
    font-size: 35px;
    font-family: 'Sen', sans-serif;
    margin-bottom: 0;
    margin-top: 150px;
}

.inputLog{
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgb(156, 156, 156) inset;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

.inputLogError{
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(255, 50, 50) inset;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    text-align: center;
    font-family: 'Sen', sans-serif;
}

.validLog{
    height: 50px;
    width: 200px;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgb(179, 179, 179) inset;
    background-color: rgb(227, 197, 255);
    border-radius: 5px;
    margin-top: 30px;
}

.contentAlert{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px 30px 15px 30px;
    height: 50px;
    background-color: rgb(255, 146, 146);
    margin-top: 25px;
    border-radius: 5px;
}

.textAlert{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
}

.validLog:hover{
    background-color: rgb(219, 180, 255);
    cursor: pointer;
}

.signForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}